* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
    list-style: none;
    color: black;
}

:root {
    --color-Ellipse-24: #EDD008;
    --color-Ellipse-18: #10CC9C;
    --color-Ellipse-19: #00B2A0;
    --color-Ellipse-20: #00979B;
    --color-Ellipse-21: #007B8C;
    --color-Ellipse-22: #216175;
    --color-Ellipse-23: #2F4858;
}


/* individuals-In-Clinics */
/* 
.container-For-individuals-In-Clinics {
    width: 100%;
    max-width: 1440px;
    height: 858px;
    margin: 2px auto;
    background-image: url('../Images/At Home/Property\ 1=Default.png');
    position: relative;
    overflow: hidden;
    margin-top: 0;

    transition: 2s;
    opacity: 1;
}

.container-For-individuals-In-Clinics-left {
    position: absolute;
    left: -500px;
    top: 50%;
    transform: translate(0 , -50%);

    transition: 1.5s;
}

.container-For-individuals-In-Clinics-right {
    width: 510px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;

    position: absolute;
    right: -600px;
    top: 50%;
    transform: translate(0 , -50%);
    transition: 1.5s;
}

.container-For-individuals-In-Clinics-right h3{
    font-size: 24px;
    font-weight: 600;
}
.container-For-individuals-In-Clinics-right p{
    font-size: 20px;
    font-weight: 400;
}

.container-For-individuals-In-Clinics-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
    cursor: pointer;

    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translate(-50% , 0);
}

.container-For-individuals-In-Clinics-bottom h3{
    font-size: 24px;
    font-weight: 700;
    color: white;
}
.container-For-individuals-In-Clinics-bottom i{
    font-size: 24px;
    font-weight: 700;
    color: white;

    transition: 0.3s;
}

.container-For-individuals-In-Clinics-bottom:hover i {
    color: var(--color-Ellipse-23);
    font-size: 30px;
} */


/* main */

main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-main {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
}

.container-main-top {
    margin-top: 9%;
    margin-left: 8.5%;
}

.container-main-top h1 {
    font-size: 32px;
    margin-bottom: 28px;
}

.container-main-top h3 {
    font-size: 20px;
    margin-bottom: 32px;
}

.container-main-top p {
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 30px;
}

.container-main-bottom {
    padding: 0 10%;
    display: flex;
    flex-direction: column;

    margin-top: 5%;
    margin-bottom: 10%;
}

.container-main-bottom-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.container-main-bottom-1 p,
.container-main-bottom-2 p,
.container-main-bottom-3 p {
    margin-top: 10px;
    font-size: 20px;
    text-align: start;
}

.container-main-bottom-1-back,
.container-main-bottom-2-back,
.container-main-bottom-3-back{
    display: grid;
    place-items: center;
    row-gap: 52px;
}

.container-main-bottom-1-back {
    width: 380px;
}
.container-main-bottom-2-back ,
.container-main-bottom-3-back {
    width: 480px;
}

.img-2 {
    display: none;
}

.container-main-bottom-1-back:hover .img-1,
.container-main-bottom-2-back:hover .img-1,
.container-main-bottom-3-back:hover .img-1{
    display: none;
}

.container-main-bottom-1-back:hover .img-2,
.container-main-bottom-2-back:hover .img-2,
.container-main-bottom-3-back:hover .img-2{
    display: block;
}

.container-main-bottom-1-back:hover {
    row-gap: 0px;
}
.container-main-bottom-2-back:hover {
    row-gap: 4px;
}
.container-main-bottom-3-back:hover {
    row-gap: 6px;
}

/* @media screen and (max-width:1300px) {

    .container-For-individuals-In-Clinics {
        height: 65vw;
    }

    .container-For-individuals-In-Clinics-left img{
        width: 38.5vw;
    }

    .container-For-individuals-In-Clinics-right {
        width: 39vw;
    }

    .container-For-individuals-In-Clinics-right h3{
        font-size: 1.8vw;
    }
    .container-For-individuals-In-Clinics-right p{
        font-size: 1.5vw;
    }

    .container-For-individuals-In-Clinics-bottom h3{
        font-size: 1.8vw;
    }
    .container-For-individuals-In-Clinics-bottom i{
        font-size: 1.8vw;
    }
    
    .container-For-individuals-In-Clinics-bottom:hover i {
        color: var(--color-Ellipse-23);
        font-size: 2vw;
    }
} */

@media screen and (max-width: 921px) {

    .container-main-bottom-1,
    .container-main-bottom-2,
    .container-main-bottom-3 {
        margin-top: 10%;
    }
}

@media screen and (max-width: 721px) {
    .container-main-top {
        margin-right: 3.5%;
    }

    .container-main-bottom-1-back ,
    .container-main-bottom-2-back ,
    .container-main-bottom-3-back {
        width: auto;
    }

    .container-main-bottom-1-back p ,
    .container-main-bottom-2-back p ,
    .container-main-bottom-3-back p {
        text-align: center;
    }
}

@media screen and (max-width: 501px) {
    .container-For-individuals-In-Clinics {
        display: none;
    }

    .container-main-top h1 {
        font-size: 24px;
        margin-bottom: 28px;
    }

    .container-main-top p {
        font-size: 18px;
        margin-bottom: 20px;
        width: 90%;
    }

    .container-main-bottom {
        margin-top: 0%;
    }

    .container-main-bottom-1,
    .container-main-bottom-2,
    .container-main-bottom-3 {
        margin-top: 20%;
    }

    .container-main-bottom-1-back ,
    .container-main-bottom-2-back ,
    .container-main-bottom-3-back {
        width: 380px;
    }
    .container-main-bottom-1-back p ,
    .container-main-bottom-2-back p ,
    .container-main-bottom-3-back p {
        font-size: 18px;
        margin-top: 25px;
        text-align: center;
    }

    .container-main-bottom-1-back:hover .img-1,
    .container-main-bottom-2-back:hover .img-1,
    .container-main-bottom-3-back:hover .img-1 {
        display: block;
    }

    .container-main-bottom-1-back:hover .img-2,
    .container-main-bottom-2-back:hover .img-2,
    .container-main-bottom-3-back:hover .img-2 {
        display: none;
    }

    .container-main-bottom-1-back,
    .container-main-bottom-2-back,
    .container-main-bottom-3-back{
        row-gap: 0px;
    }

    .container-main-bottom-1-back:hover ,
    .container-main-bottom-2-back:hover ,
    .container-main-bottom-3-back:hover {
        row-gap: 0px;
    }
}