* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
    list-style: none;
    color: black;
}

:root {
    --color-Ellipse-24: #EDD008;
    --color-Ellipse-18: #10CC9C;
    --color-Ellipse-19: #00B2A0;
    --color-Ellipse-20: #00979B;
    --color-Ellipse-21: #007B8C;
    --color-Ellipse-22: #216175;
    --color-Ellipse-23: #2F4858;
}

/* footer */

footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    position: relative;
}

.container-footer {
    width: 100%;
    max-width: 1440px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* footer top */

.top-footer {
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: space-around;

    padding: 0 12%;
    font-size: 14px;
}

.footer-1-sec {
    display: flex;
    flex-direction: column;
}

.logo-footer {
    cursor: pointer;
}

.logo-footer-2 {
    display: none;
}
.logo-footer:hover .logo-footer-1 {
    display: none;
}
.logo-footer:hover .logo-footer-2 {
    display: block;
    margin-bottom: 4px;
}

.social-footer {
    display: flex;
    column-gap: 13px;
}

.social-footer a i {
    color: white;
}

.linkedin-soc,
.twitter-soc,
.email-soc {
    background-color: var(--color-Ellipse-20);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--color-Ellipse-20);
}

.linkedin-soc:hover,
.twitter-soc:hover,
.email-soc:hover {
    background-color: white;
}

.linkedin-soc:hover i,
.twitter-soc:hover i,
.email-soc:hover i {
    color: var(--color-Ellipse-20);
}

.footer-2-sec h3,
.footer-3-sec h3,
.footer-4-sec h3,
.footer-5-sec h3 {
    margin-top: 15px;
    padding-bottom: 20px;
    font-size: 16px;
    cursor: default;
}

.footer-2-sec p,
.footer-3-sec p,
.footer-4-sec p {
    padding-bottom: 11px;
    font-size: 14px;
    cursor: default;
}

.footer-2-sec p:hover,
.footer-3-sec p:hover {
    text-decoration: underline;
}

.footer-form {
    display: flex;
    flex-direction: column;
}

.footer-email-lable-span {
    visibility: hidden;
}

.footer-email-input {
    width: 15.5vmax;
    height: 40px;
    border: 1px solid #02191A;
    border-radius: 5px;
    margin-top: 4px;
    padding-left: 10px;
}

.footer-email-submit {
    width: 15.5vmax;
    height: 40px;
    background-color: white;
    border: 3px solid var(--color-Ellipse-20);
    border-radius: 5px;
    margin-top: 16px;
    color: var(--color-Ellipse-20);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.footer-email-submit:hover {
    background-color: var(--color-Ellipse-20);
    color: white;
}

/* footer bottom */

.bottom-footer {
    width: 100%;
    height: 41px;
    direction: rtl;
    border-top: 1px solid #4848487d;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
}

@media (max-width:1120px) {
    .top-footer {
        padding: 0;
    }
}

@media (max-width:800px) {
    .top-footer {
        height: auto;
    }

    /* .logo-footer img {
        width: 15vw;
        margin-top: 15px;
    } */

    .footer-2-sec h3,
    .footer-3-sec h3,
    .footer-4-sec h3,
    .footer-5-sec h3 {
        font-size: 1.8vw;
    }

    .footer-2-sec p,
    .footer-3-sec p,
    .footer-4-sec p {
        font-size: 1.4vw;
    }

    .footer-email-lable {
        font-size: 1.8vw;
    }

    .footer-email-input {
        width: 20vw;
        height: 5vw;
    }

    .footer-email-submit {
        width: 20vw;
        height: 5vw;
        font-size: 2vw;
        margin-bottom: 50px;
    }
}

@media (max-width:501px) {
    footer {
        height: auto;
    }

    .container-footer {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    /* footer top */

    .top-footer {
        height: auto;
        display: grid;
        padding: 0 32px;
        grid-template-rows: repeat(1, auto);
        grid-template-areas:
            "b"
            "c"
            "d"
            "e"
            "a";
    }

    .footer-1-sec {
        grid-area: a;
    }

    .footer-2-sec {
        grid-area: b;
    }

    .footer-3-sec {
        grid-area: c;
    }

    .footer-4-sec {
        grid-area: d;
    }

    .footer-5-sec {
        grid-area: e;
    }

    .footer-2-sec h3,
    .footer-3-sec h3,
    .footer-4-sec h3,
    .footer-5-sec h3 {
        margin-top: 0;
        padding-bottom: 24px;
        padding-top: 20px;
        font-size: 20px;
    }

    .footer-2-sec h3 {
        padding-top: 28px;
    }

    .footer-2-sec p,
    .footer-3-sec p,
    .footer-4-sec p {
        padding-bottom: 24px;
        font-size: 16px;
        font-weight: 500;
    }

    .footer-5-sec-h3 {
        display: none;
    }

    .footer-form {
        width: 40vmax;
        height: 111px;
        position: relative;
        margin-bottom: 28px;
        padding-right: 0px;
    }

    .footer-email-lable {
        width: 300px;
        font-size: 16px;
        white-space: nowrap;
    }
    
    .footer-email-lable-span {
        visibility: visible;
    }

    .footer-email-input {
        width: auto;
        height: 40px;
    }

    .footer-email-submit {
        width: 108px;
        height: 42px;
        margin-top: 5px;
        position: absolute;
        right: 0;
        bottom: 0;
        margin-bottom: 0;
        font-size: 16px;
    }

    .footer-1-sec {
        margin-bottom: 28px;
    }

    .social-footer a i {
        font-size: 20px;
    }

    .linkedin-soc,
    .twitter-soc,
    .email-soc {
        width: 44px;
        height: 44px;
    }

    .footer-2-sec p:hover,
    .footer-3-sec p:hover {
        text-decoration: none;
    }


    /* footer bootom */

    .footer-Conditions {
        display: none;
    }
}